ul.first
{
	list-style-type: none;
	margin-left:100px;
	margin-top:15px;
	float:left;
}

header
{
	background-color:#00008B;
}

.HomeLogo{
	
	width:50px;
	height:50px;
	float:left;
}

ul.second
{
  list-style-type: none;
  margin-left:250px;
}

.carPicture
{
	float:right;
	width:600px;
	height:400px;
	border-radius: 50%;
}

.facebookLogo
{
	width:50px;
	height:50px;
}

.twitterLogo
{
	width:50px;
	height:50px;
}

.youtubeLogo
{
	width:100px;
	height:50px;
}

.instagramLogo
{
	width:100px;
	height:50px;
}


li
{
  float: right;
  top:20px;
  background-color:#00008B;
  text-align: center;
  font-size:20px;
  padding-right:12px;
  padding-left:12px;
  text-decoration: none;
}


li :hover 
{
	color:red;
	text-decoration: none;

}


*{
border: 0;
padding: 0;
margin: 0;
}




body
{
	background-color:white;
}



a
{
	text-decoration:none;
	color:white;
	
}

.introToWebsite
{
	color:black;
	font-family:Georgia, serif;
	font-size:30px;
	float:left;
}


.footers_left_and_right
{
	background-color:#00008B;
	color:white;
	display:block;
	text-align:center;
	font-family:Georgia, serif;
}

h1
{
	font-size:40px;
	font-family:Jazz LET, fantasy;
	float:left;
	color:white;
}

.heading_of_user_dasboard
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.car_dashboard_heading
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.welcome_message_user_dashboard
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:700px;
}

.car_dashboard_message
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;
}
.update_password_message
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;
}
.delete_account_message
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;	
}


button[name=log_out_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:702px;
}

button[name=deleteAccountButton]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}
button[name=submitupdatedpassword]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:665px;
}
button[name=viewCarFromRecords]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=updateCarFromRecords]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=deleteCarFromRecords]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=update_car_info_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=submit_car_for_sale_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:665px;
}

button[name=submit_for_login]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:690px;
}

button[name=register_form_submit_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:690px;
}


input[name=updatePassword],input[type=password],input[name=Uname],input[name=username]
{
	background-color:#ade6e6;
	border-radius: 10px;
	padding: 8px 20px;
	margin-left:644px;
}

.update_my_car_heading
{
	margin-left:630px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

a
{
	text-decoration:none;
	color:white;
	
}

a.car_dashboard_link
{
	color:blue;
	
}

.car_dashboard_class
{
	color:black;
	display:block;
	text-align:center;
	font-family:Georgia, serif;
	
}


input[type=submit]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:313px;
}

input[list=make_of_cars_for_buying_car],input[list=model_of_cars_for_buying_car],input[list=year_of_car_for_buying_car],input[list=transmission_of_car_buying_car],input[name=price_of_car_for_buying_car],input[name=colour_of_car_for_buying_car],input[name=number_of_doors_for_buying_car],input[name=engine_size_for_buying_car]
{
	background-color:#ade6e6;
	border-radius: 10px;
	margin-left:120px;
	padding:10px;
}


.headingInCarSearch
{
	margin-left:250px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}


#restrictedaccessMessage
{
	text-align:center;
}

.headingInSellCar
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

input[list=make_of_cars_to_sell],input[list=model_of_cars_to_sell],input[list=year_of_car_to_sell],input[list=transmission_of_car_for_sell],input[name=mileage],input[name=price],input[name=colour],input[name=engine_size],input[name=number_of_doors]
{
	background-color:#ade6e6;
	border-radius: 10px;
	padding: 8px 20px;
	margin-left:650px;
}

.loginHeading
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.infoAboutLogin
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;
}

.usernameTag,.passwordTag
{
	color:black;
	font-family:Georgia, serif;
	margin-left:700px;
}

.promptToRegister
{
	color:black;
	display:block;
	text-align:center;
	font-family:Georgia, serif;
	
}


a.linkToRegister
{
	color:blue;
}

.registrationHeading
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.infoAboutRegistration
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;
}


.registration
{
	float:left;
}
.usernameTagOnRegisterPage,.passwordTagOnRegisterPage
{
	color:black;
	font-family:Georgia, serif;
	margin-left:700px;
}
