.logo_in_nav
{
	height:50px;
}

.logo_in_footer
{
	height:150px;
}
.footer-top
{
	padding-bottom:90px;
	padding:90px;
}

#footer_fixed
{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
}

#footer_fixed_for_sell
{
	position:absolute;
	bottom:-100px;
	width:100%;
	height:2px;
}
.hero
{
	background-image:url("https://live.dealer-asset.co/ie1182/siteassets/Honda-Civic-Sedan-Gallery-Exterior-1.jpg");
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}

.HomeLogo{
	
	width:50px;
	height:50px;
	float:left;
}

*{
border: 0;
padding: 0;
margin: 0;
}




body
{
	background-color:white;
}


h1
{
	font-size:40px;
	font-family:Jazz LET, fantasy;
	float:left;
	color:black;
}

.heading_of_user_dasboard
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.car_dashboard_heading
{
	margin-left:650px;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.welcome_message_user_dashboard
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:700px;
}


.car_dashboard_message
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;
}
.update_password_message
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;
}
.delete_account_message
{
	color:black;	
	font-family:Georgia, serif;
	margin-left:560px;	
}


button[name=log_out_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:702px;
}

button[name=deleteAccountButton]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}
button[name=submitupdatedpassword]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:665px;
}
button[name=viewCarFromRecords]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=updateCarFromRecords]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=deleteCarFromRecords]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=update_car_info_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:685px;
}

button[name=submit_car_for_sale_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:665px;
}

button[name=submit_for_login]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:700px;
}

button[name=register_form_submit_button]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:690px;
}

button[name=btn_purchase_car]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:690px;
}

button[name=deleteCarFromCartToPurchase]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	position:relative;
	top:-65px;
}

button[name=btn_update_purchase_car]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:640px;

}

button[name=submit_button_for_searching_car]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	position:relative;
	left:145px;
}

input[name=updatePassword],input[type=password],input[name=Uname],input[name=username]
{
	background-color:#ade6e6;
	border-radius: 10px;
	padding: 8px 20px;
	margin-left:644px;
}

.update_my_car_heading
{
	text-align:center;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

a
{
	text-decoration:none;
	color:blue;
	
}

a.car_dashboard_link
{
	color:blue;
	text-align:center;

}

.car_dashboard_class
{
	color:black;
	display:block;
	text-align:center;
	font-family:Georgia, serif;
	
}


input[type=submit]
{
	background-color:blue;
	color:white;
	padding: 10px 35px;
	border-radius: 10px;
	margin-left:313px;
}

input[list=make_of_cars_for_buying_car],input[list=model_of_cars_for_buying_car],input[list=year_of_car_for_buying_car],input[list=transmission_of_car_buying_car],input[name=price_of_car_for_buying_car],input[name=colour_of_car_for_buying_car],input[name=number_of_doors_for_buying_car],input[name=engine_size_for_buying_car]
{
	background-color:#ade6e6;
	border-radius: 10px;
	margin-left:120px;
	padding:10px;
}


input[list=make_of_cars_to_search],input[list=model_of_cars_to_search],input[list=year_of_car_to_search]
{
	background-color:#ade6e6;
	border-radius: 10px;
	margin-left:120px;
	padding:10px;
}

.div_for_search_car
{
	position:relative;
	top:10px;
	right:65px;
	display:flex;
	justify-content: center;
}

.headingInCarSearch
{
	text-align:center;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}


#restrictedaccessMessage
{
	text-align:center;
	color:white;
}

.headingInSellCar
{
	text-align:center;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.purchase_car_heading
{
	text-align:center;
}

.update_my_cart_class
{
	text-align:center;
}

input[list=make_of_cars_to_sell],input[list=model_of_cars_to_sell],input[list=year_of_car_to_sell],input[list=transmission_of_car_for_sell],input[name=mileage],input[name=price],input[name=colour],input[name=engine_size],input[name=number_of_doors],input[name=id_of_car]
{
	background-color:#ade6e6;
	border-radius: 10px;
	padding: 8px 20px;
	margin-left:650px;
}

.loginHeading
{
	text-align:center;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.infoAboutLogin
{
	color:black;	
	font-family:Georgia, serif;
	text-align:center;
}


.usernameTag,.passwordTag
{
	color:black;
	font-family:Georgia, serif;
	text-align:center;
}

.promptToRegister
{
	color:black;
	display:block;
	text-align:center;
	font-family:Georgia, serif;
	
}


a.linkToRegister
{
	color:blue;
}

.registrationHeading
{
	text-align:center;
	color:black;
	font-family:Jazz LET, fantasy;
	font-size:35px;
}

.infoAboutRegistration
{
	color:black;	
	font-family:Georgia, serif;
	text-align:center;
	
}

.registrationInputFieldClass
{
	position:relative;
	left:-420px;
	display:flex;
	justify-content: center;
}

.usernameTagOnRegisterPage,.passwordTagOnRegisterPage
{
	color:black;
	font-family:Georgia, serif;
	margin-left:700px;
}

.sell_car_div
{
	position:relative;
	top:10px;
	left:-320px;
	display:flex;
	justify-content: center;
}

.div_for_purchase_car
{
	position:relative;
	top:10px;
	left:-320px;
	display:flex;
	justify-content: center;
}

.div_for_update_my_car_for_sale
{
	position:relative;
	top:10px;
	left:-320px;
	display:flex;
	justify-content: center;
}

.div_for_update_car_in_my_cart_that_i_want_to_purchase
{
	position:relative;
	top:10px;
	left:-320px;
	display:flex;
	justify-content: center;
}

.paragraph_about_cart_info
{
	text-align:left;
	position:relative;
	top:-60px;
}

.link_to_cart_to_view
{
	position:relative;
	text-align:left;
	top:-70px;
}

.link_to_update_purchase_car
{
	position:relative;
	text-align:left;
	top:-70px;
}

.div_for_sale_of_car_crud
{
	float:left;
	position:relative;
	left:-100px;
}

.div_for_purchase_car_crud
{
	float:right;
	position:relative;
	top:70px;
	left:-440px;
}

.class_for_update_user_password
{
	position:relative;
	left:-200px;
}

.class_for_delete_user
{
	position:relative;
	left:90px;
	top:-105px;
}